.title {
  background: rgb(121, 242, 157);
}

/*    root start    */

#root {
  height: 100%;
  width: 100%;
}

/*    root end    */


/*    404 start    */

.four-zero-four-page {
  background-image: url("../assets/404.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100% - 46px);
}

/*    404 end    */

